* {
  margin: 0;
  padding: 0;
}
.banner {
  width: 15rem;
  background-color: #ffffff;
}
.banner h3 {
  font-size: 0.84rem;
  color: #333333;
  line-height: 1.18rem;
  margin-top: 0.82rem;
  text-align: center;
}
.banner p {
  font-size: 0.64rem;
  color: #333333;
  line-height: 0.9rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  padding-top: 0.58rem;
  padding-bottom: 0.6rem;
}
.section .inner {
  margin: 0 auto;
  width: 13.8rem;
  height: 6.4rem;
}
.section .inner img {
  width: 100%;
  height: 100%;
}
.section1 .inner {
  padding-top: 0.6rem;
  width: 13.8rem;
  margin: 0 auto;
}
.section1 .inner p {
  font-size: 0.64rem;
  color: #333333;
  line-height: 0.9rem;
  margin-bottom: 1rem;
}
